.splash-container {
    padding-top: 150px;
}

.splash-btn {
    margin-top: 25px;
    background-color: #6c63ff;
}

.splash-btn:hover {
    background-color: #5d53f3;
}

.splash-btn:focus {
    outline: none;
}

.splash-btn a {
    text-decoration: none;
    color: white;
}